<p id="notice"><%= notice %></p>

<p>
  <strong>Ameacas:</strong>
  <%= @plano.ameacas %>
</p>

<p>
  <strong>Respostas ameaca:</strong>
  <%= @plano.respostas_ameaca %>
</p>

<p>
  <strong>Oportunidades:</strong>
  <%= @plano.oportunidades %>
</p>

<p>
  <strong>Respostas oportunidades:</strong>
  <%= @plano.respostas_oportunidades %>
</p>

<p>
  <strong>Fraquezas:</strong>
  <%= @plano.fraquezas %>
</p>

<p>
  <strong>Respostas fraquezas:</strong>
  <%= @plano.respostas_fraquezas %>
</p>

<p>
  <strong>Forcas:</strong>
  <%= @plano.forcas %>
</p>

<p>
  <strong>Respostas forcas:</strong>
  <%= @plano.respostas_forcas %>
</p>

<p>
  <strong>Missao:</strong>
  <%= @plano.missao %>
</p>

<p>
  <strong>Objetivos proximo ano:</strong>
  <%= @plano.objetivos_proximo_ano %>
</p>

<p>
  <strong>Objetivos cinco anos:</strong>
  <%= @plano.objetivos_cinco_anos %>
</p>

<p>
  <strong>Objetivos dez anos:</strong>
  <%= @plano.objetivos_dez_anos %>
</p>

<p>
  <strong>Objetivos:</strong>
  <%= @plano.objetivos %>
</p>

<p>
  <strong>Estrategias:</strong>
  <%= @plano.estrategias %>
</p>

<p>
  <strong>Plano objetivo:</strong>
  <%= @plano.plano_objetivo %>
</p>

<p>
  <strong>Plano estrategia:</strong>
  <%= @plano.plano_estrategia %>
</p>

<p>
  <strong>Plano prazo:</strong>
  <%= @plano.plano_prazo %>
</p>

<p>
  <strong>Plano fator critico:</strong>
  <%= @plano.plano_fator_critico %>
</p>

<p>
  <strong>Plano recursos:</strong>
  <%= @plano.plano_recursos %>
</p>

<%= link_to 'Edit', edit_plano_path(@plano) %> |
<%= link_to 'Back', planos_path %>
