<%= form_for(@anchor) do |f| %>
  <% if @anchor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anchor.errors.count, "error") %> prohibited this anchor from being saved:</h2>

      <ul>
      <% @anchor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :perfil %><br>
    <%= f.text_area :perfil %>
  </div>
  <div class="field">
    <%= f.label :perspectiva %><br>
    <%= f.text_area :perspectiva %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :result_id %><br>
    <%= f.text_field :result_id %>
  </div>
    <div class="field">
    <%= f.label :anchorinfo_id %><br>
    <%= f.text_field :anchorinfo_id%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
