<p id="notice"><%= notice %></p>
  <div class="panel panel-default">
    <div class="panel-heading">
        <center><h4>Instituições</h4></center>
        <%= link_to new_institution_path, class: "btn btn-primary btn-login  btn-sm pull-right", style:  "margin-top : -35px" do  %> 
            <i class="fa fa-plus"></i>
        <% end %>

    </div>
    <div class="panel-body">
             <div class="table-responsive">
                      <section id="unseen">
                          <div id = "dados">
                          <table class="table table-bordered table-striped table-condensed">
                            <thead>
                              <tr>
                                <th>Logo</th>
                                <th>Nome</th>
                                <th>Tel</th>
                                <th>Organização Acadêmica</th>
                                <th>Categoria Administrativa</th>
                                <th colspan="2"></th>
                              </tr>
                            </thead>

                            <tbody>
                              <% @institutions.each do |institution| %>
                                <tr>
                                  <td><%= image_tag institution.avatar.url(:thumb) , width:30, height:40 %></td>
                                  <td><%= institution.nome %></td>
                                  <td><%= institution.tel %></td>
                                  <td><%= institution.organizacao_academica %></td>
                                  <td><%= institution.categoria_administrativa %></td>
                                  <td><%= link_to 'Abrir', institution , class: "btn btn-primary btn-login btn-sm" %></td>
                                  <td><%= link_to 'Editar', edit_institution_path(institution),class: "btn btn-primary btn-login btn-sm" %></td>
<!--                                   <td><%= link_to 'Deletar', institution, method: :delete,class: "btn btn-primary btn-login btn-sm", data: { confirm: 'Are you sure?' } %></td>
                                 -->                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                      </div>
                    </section>
                </div>
            </div>
      </div>

