

          <section id="unseen">
            <table class="table table-condensed">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descricao</th>
            <th  style="width: 80px;">Prazo</th>
            <th>Autor</th>
            <th>Anexo</th>
            <th><i class='fas fa-pen-square'></i></th>
            <th><i class='far fa-eye'></i></th>
          </tr>
        </thead>

        <tbody>
          <% @atividades.each do |atividade_extra| %>
          <% if atividade_extra.status == 'aberta' %>
            <tr>
              <td><%= atividade_extra.titulo %></td>
              <td><%= atividade_extra.descricao %></td>
              <td><%= atividade_extra.data_final.strftime("%d/%m/%Y") %></td>
              <td><%= atividade_extra.sender.nome %></td>
              <td style="text-align: center;"><%= link_to  atividade_extra.arquivo.url(:original, false) do %>
                  <% if atividade_extra.arquivo_content_type == "application/pdf" %>
                    <i class="fa fa-file-pdf-o" style="color:#BD1E0F;"></i>
                  <% else %>
                    <i class="fa fa-file-word-o" style="color:#08336E;"></i>

                  <% end %>
              <% end %>
              <td style="max-width: 10px;"><%= link_to raw("<i class='fas fa-pen-square'></i>"), new_answer_path(:atividade_extra => atividade_extra), class:"link_table"%></td>
              <%# depois da uma olhada nisso aqui %>
              <td style="max-width: 10px;"><%= link_to raw("<i class='far fa-eye'></i>"), student_area_list_answers_path(:atividade_extra => atividade_extra), class:"link_table"%></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
