<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href=https://daneden.github.io/animate.css/animate.min.css">

<div class="background"></div>
<div class="navegacao">
  <div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="javascript:;"><b>Disciplinas</b></a></li>
  </ol>
</nav>
  </div>
</div>


<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
          <div class="panel-body">
            <div class="row">
          <div class="col-lg-12"> 
                    <%= form_tag add_user_classrooms_path, :method => 'get' do%>

                          <label>Digite o nome do usuário:</label>
                          <%= autocomplete_field_tag :user_id, params[:user], autocomplete_user_nome_classrooms_path, placeholder: 'Digite o nome do usuario', :class => 'form-control'%>

                       <%= hidden_field_tag :classroom_id, @classroom.id %>

                      <div class="actions">
                       <%= submit_tag "Adicionar" %>
                      </div>
                      <% end %>
                    <section id="unseen">
                      <div id = "dados">
                      <table class="table table-bordered table-striped table-condensed">
                            <thead>
                              <tr>
                                <th>Disciplina</th>
                                <th>Ano</th>
                                <th>Semestre</th>
                                <th>Turno</th>
                                <th>Nome</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td><%= @classroom.subject.nome %></td>
                                  <td><%= @classroom.ano %></td>
                                  <td><%= @classroom.semestre %></td>
                                  <td><%= @classroom.turno %></td>
                                  <td><%= @classroom.codigo %></td>
                                </tr>
                            </tbody>
                          </table>
                      <table class="table table-bordered table-striped table-condensed">
                      <h4><i class="fa fa-user"></i>Professores</h4>
                        <thead>
                          <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ações</th>
                            <!--<th>Autorizado</th>-->
                          </tr>
                        </thead>

                        <tbody>
                        <% @teachers.each do |teacher| %>
                          <tr>
                              <td><center><%= image_tag teacher.avatar.url(:thumb), class: "photos_users", width:40, height:40 %></center></td>
                              <td><%= teacher.nome %></td>
                              <td><%= teacher.email %></td>
                              <td> <%= link_to remove_user_classrooms_path(user: teacher,classroom: @classroom.id), class:"btn btn-danger btn-sm", data: { confirm: 'Deseja realmente excluir?' } do %>
                                  <i class="fa fa-close"></i>
                                <% end %>
                              </td>
                              </tr>
                        <% end %>
                        </tbody>
                      </table>
                      <table class="table table-bordered table-striped table-condensed">
                      <h4><i class="fa fa-graduation-cap"></i>Alunos</h4>
                        <thead>
                          <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ações</th>
                            <!--<th>Autorizado</th>-->
                          </tr>
                        </thead>

                        <tbody>
                          <% @students.each do |student| %>
                            <tr>
                              <td> <center><%= image_tag student.avatar.url(:thumb), class: "photos_users", width:40, height:40 %></center></td>
                              <td> <%= student.nome %></td>
                              <td> <%= student.email %></td>
                              <td>  <%= link_to remove_user_classrooms_path(user: student,classroom: @classroom.id), class:"btn btn-danger btn-sm", data: { confirm: 'Deseja realmente excluir?' } do %>
                                  <i class=" fa fa-close"></i>
                                <% end %></td>
                            </tr>
                          <% end %>
                          <%# render @students%>
                        </tbody>
                      </table>
                      </div>
                    </section>
                    <div class="row mt">
                      <center><%= link_to "Voltar", search_classrooms_path ,:class => "btn  btn-theme  btn-danger", :style=>'color:#FFFFFF;' %><br/></center>
                    </div>
                  </div>
            </div>
      </div>
</div>

