<%= javascript_include_tag 'search_learning.js' %>
<h1>Comparar resultados de estilos de aprendizagem</h1>
<%= form_tag({ :controller => "learning_results", :action => "analytic_list"}, { :id => "form2"}) do |f| %>
<h2>Seleção 1</h2>
<div class="field">
    <%= label_tag :Instituição %>
    <%= collection_select(nil, :institution_id, @institutions, :id, :nome) %>

    <%= label_tag :Campus %>
    <%= collection_select(nil, :campu_id, @campus, :id, :name)%>


    <%= label_tag :Centro %>
    <%= collection_select(nil, :center_id, @centers, :id, :name)%>


    <%= label_tag :Curso %>
    <%= collection_select(nil, :course_id, @courses, :id, :nome)%>


    <%= label_tag :Disciplina %>
    <%= grouped_collection_select(nil, :subject_id, @courses, :subjects, :nome, :id, :nome)%>

    <%= label_tag :Turma %>
    <%= grouped_collection_select(nil, :classroom_id, @subjects, :classrooms, :nome, :id, :codigo)%>

    <%= label_tag :Alunos %>
    <%= grouped_collection_select(nil, :users_id, @classrooms, :students, :codigo, :id, :nome)%>
  </div>
<h2>Seleção 2</h2>
  <div class="field">
        <%= label_tag :Instituição %>
    <%= collection_select(nil, :institution2_id, @institutions, :id, :nome) %>

    <%= label_tag :Campus %>
    <%= collection_select(nil, :campu2_id, @campus, :id, :name)%>


    <%= label_tag :Centro %>
    <%= collection_select(nil, :center2_id, @centers, :id, :name)%>


    <%= label_tag :Curso %>
    <%= collection_select(nil, :course2_id, @courses, :id, :nome)%>


    <%= label_tag :Disciplina %>
    <%= grouped_collection_select(nil, :subject2_id, @courses, :subjects, :nome, :id, :nome)%>

    <%= label_tag :Turma %>
    <%= grouped_collection_select(nil, :classroom2_id, @subjects, :classrooms, :nome, :id, :codigo)%>

    <%= label_tag :Alunos %>
    <%= grouped_collection_select(nil, :users2_id, @classrooms, :students, :codigo, :id, :nome)%>
  </div>
<%= submit_tag "Enviar" %>
<% end %>
