<%= javascript_include_tag "add_obs.js"%>
<h1>Plano de carreira</h1>
<h2>Nome: <%= @plano.user.nome.capitalize %></h2>
<h2>Curso: <%= @plano.user.course.nome %> </h2>

        <div id ="ameacas_e_respostas">
          <h3>Ameacas</h3>
          <%= text_area_tag 'ameacas', @plano.ameacas, readonly: true%>
          <h3>Respostas ameaca</h3>
          <%= text_area_tag 'respostas_ameaca', @plano.respostas_ameaca, readonly: true%>


            <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'ameaca'%>
            </div>
            <a href="#" class="add_button">Adicionar Observação</a>

        </div>

        <div id="oportunidades_e_respostas">
          <h3>Oportunidades</h3>
          <%= text_area_tag 'oportunidades', @plano.oportunidades, readonly: true%>

          <h3>Respostas oportunidades</h3>
          <%= text_area_tag 'respostas_oportunidades', @plano.respostas_oportunidades, readonly: true%>

            <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'oportunidades'%>
            </div>
            <a href="#" class="add_button">Adicionar Observação</a>


        </div>

        <div id="fraquezas_e_respostas">
         <h3>Fraquezas</h3>
         <%= text_area_tag 'fraquezas', @plano.fraquezas, readonly: true%>

         <h3>Respostas fraquezas</h3>
         <%= text_area_tag 'respostas_fraquezas', @plano.fraquezas, readonly: true%>

         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'fraquezas'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>

         </div>

         <div id="forcas_e_respostas">
         <h3>Forcas</h3>
         <%= text_area_tag 'forcas', @plano.forcas, readonly: true%>

         <h3>Respostas forcas</h3>
         <%= text_area_tag 'respostas_forcas', @plano.respostas_forcas, readonly: true%>
         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'forcas'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
         </div>

         <div id="missao">
         <h3>Missao</h3>
         <%= text_area_tag 'missao', @plano.missao, readonly: true%>
         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'missao'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
         </div>

         <div id="objetivos">
         <h3>Objetivos proximo ano</h3>
         <%= text_area_tag 'objetivos_proximo_ano', @plano.objetivos_proximo_ano, readonly: true%>

         <h3>Objetivos cinco anos</h3>
        <%= text_area_tag 'objetivos_cinco_anos', @plano.objetivos_cinco_anos, readonly: true%>

         <h3>Objetivos dez anos</h3>
         <%= text_area_tag 'objetivos_dez_anos', @plano.objetivos_dez_anos, readonly: true%>
         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'objetivos'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
         </div>

         <div id="estrategias">
         <h3>Objetivos</h3>
         <%= text_area_tag 'objetivos', @plano.objetivos, readonly: true%>

         <h3>Estrategias</h3>
         <%= text_area_tag 'estrategias', @plano.estrategias, readonly: true%>
         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'estrategias'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
        </div>
          <h2>Plano de ação</h2>
         <div id= "plano de ação">
             <h3>Plano objetivo</h3>
             <%= text_area_tag 'plano_objetivo', @plano.plano_objetivo, readonly: true%>

             <h3>Plano estrategia</h3>
             <%= text_area_tag 'plano_estrategia', @plano.plano_estrategia, readonly: true%>

             <h3>Plano prazo</h3>
             <%= text_area_tag 'plano_prazo', @plano.plano_prazo, readonly: true%>

             <h3>Plano fator critico</h3>
             <%= text_area_tag 'plano_fator_critico', @plano.plano_fator_critico, readonly: true%>

             <h3>Plano recursos</h3>
             <%= text_area_tag 'plano_recursos', @plano.plano_recursos, readonly: true%>
             <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'plano'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
         </div>
  <br>

  <%= link_to "Gerar PDF", teachers_area_pdf_plan_path(format: 'pdf', plano: @plano) %>
