<p id="notice"><%= notice %></p>

<h1>Listing Weaknesses</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Plano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weaknesses.each do |weakness| %>
      <tr>
        <td><%= weakness.text %></td>
        <td><%= weakness.plano %></td>
        <td><%= link_to 'Show', weakness %></td>
        <td><%= link_to 'Edit', edit_weakness_path(weakness) %></td>
        <td><%= link_to 'Destroy', weakness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weakness', new_weakness_path %>
