<p id="notice"><%= notice %></p>

<!-- <p>
          <strong>Titulo:</strong>
          <%= @study_case.title %>
        </p>
        
        <p>
          <strong>Autor:</strong>
          <%= @study_case.author %>
        </p>
        
        <p>
          <strong>Area de conhecimento:</strong>
          <%= @study_case.area %>
        </p>
        
        <p>
          <strong>Tema principal:</strong>
          <%= @study_case.topic %>
        </p>
        
        <p>
          <strong>Tema secundario:</strong>
          <%= @study_case.topic2 %>
        </p>
        
        <p>
          <strong>Recomendado para:</strong>
          <%= @study_case.recommended %>
        </p>
        
        <p>
          <strong>Resumo:</strong>
          <%= @study_case.abstract %>
        </p>
        
        <p>
        <%= link_to "Arquivo do Caso", @study_case.case_file.url(:original, false) %>
        </p>
        
        <p>
        <%= link_to "Arquivo das notas", @study_case.notes_file.url(:original, false) %>
        </p>
        
         --> 
 <%= javascript_include_tag 'plano_modal' %>


<div class="modal fade" id="sendQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Adicionar Questão</h4>
      </div>
      <div class="modal-body">
                   <%= render 'questions/form', modal: true %>
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button></center>
      </div>
    </div>
  </div>
</div>
 <div class="panel panel-default">
  <div class="panel-heading">
    <center><h4><i class="fa fa-question"></i> Questões
    <%= link_to  "#new_question_modal", 'data-toggle' => 'modal',:class => "btn btn-success",  style:  "float: right;" , remote: true  do  %> 
    <i class="fa fa-plus"></i>
          <% end %>
</h4></center>

  </div>

    <div class="row mt">
      <div class="col-lg-12">
        <div class="panel-body">
          <section id="unseen">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Enunciado</th>
                <th>Deletar</th>
              </tr>
            </thead>

            <tbody id= "questions">
              <%= render @questions%>
            </tbody>
          </table>
          </section>
          </div>
        </div>
        </div>
      </div>
    </div>

<!-- <%= link_to 'Editar', edit_study_case_path(@study_case) %> |
<%= link_to 'Voltar', study_cases_path %>
 -->
<!--    <div class="modal fade" id="new_question_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title" id="myModalLabel">Adicionar Questão</h4>
           </div>
           <div class="modal-body">
             <%# Render the new person form (passing modal => true to enable remote => true) %>
             <%= render 'questions/form', modal: true %>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
           </div>
         </div>
       </div>
     </div> -->