<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Titulo:</strong>
  <%= @atividade_extra.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @atividade_extra.descricao %>
</p>

<p>
  <strong>Data final:</strong>
  <%= @atividade_extra.data_final %>
</p>

<p>
<strong>Anexo da Atividade:</strong>
  <%= link_to "Arquivo", @atividade_extra.arquivo.url(:original, false) %>
</p>

 -->
 <div class="panel panel-default">
  <div class="panel-heading">
    <center><h4><i class="fa fa-pencil-square-o"></i>Respostas Dos Alunos</h4></center>
  </div>
      <div class="row mt">
        <div class="panel-body">
          <div class="col-lg-12">
              <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Aluno</th>
              <th>Observacao</th>
              <th>Anexo</th>
              <th>Status</th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @atividade_extra.answers.each do |answer| %>
              <tr>
                <td><%= answer.user.nome %></td>
                <td><%= answer.observacao %></td>
                <td><%= link_to  answer.arquivo_resposta.url(:original, false) ,class:"btn btn-default btn-sm" do %>
                  <% if answer.arquivo_resposta_content_type == "application/pdf" %>
                    <i class="fa fa-file-pdf-o" style="color:#BD1E0F;"></i>
                  <% else %>
                    <i class="fa fa-file-word-o" style="color:#08336E;"></i>

                  <% end %>
              <% end %>
            </td>
                <td><%= answer.status %></td>
                <% if answer.status != 'finalizado'%>
                  <td><%= link_to 'Aprovar', teachers_area_aprove_answer_path(answer: answer, atividade: @atividade_extra) ,class:"btn btn-default btn-sm" %></td>
                <% end %>
                <td><%= link_to 'Correção', new_answer_note_path(:answer => answer),class:"btn btn-default btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </section>
        </div>
      </div>
    </div>
</div>
<!-- 
<%= link_to 'Edit', edit_atividade_extra_path(@atividade_extra) %> |
<%= link_to 'Back', atividade_extras_path %> -->
