        <h4>&nbsp; <%= truncate(strength.text, length: 62) %> 
         <%= link_to strength, method: :delete, remote: true, data: { confirm: 'Excluindo esta força, excluirá as respostas associadas à mesma' }, :class => "btn btn-danger btn-sm", style: "float: right;", :title => "Deletar Força" do %>
                    <i class="fa fa-close"></i>
        <% end %> 
        <div style="float: right;">
          &nbsp;
        </div>
        <%= link_to edit_strength_path(strength.id), class:"btn btn-info btn-sm",style: "float: right;", remote: true do %> 
                      <i class="fa fa-edit"></i>
        <% end %>
        <div style="float: right;">
          &nbsp;
        </div>

        <%= link_to "##{strength.id}new_strength_answers_modal", 'data-toggle' => 'modal', :class => "btn btn-success btn-sm", style: "float: right;",:title => "Adicionar resposta à #{strength.text} " do %>   
          <i class="fa fa-plus" ></i>
          <% end %>

        </h4>


    <% strength.strength_answers.each do |answer|%>
    <br>
        <label class="control-label" > &nbsp; &nbsp; &nbsp; • <%= truncate(answer.text,length: 110) %> </label>
        <label  class="control-label" style="float: right;">

        <%= link_to edit_strength_answer_path(answer.id), class:"btn btn-info btn-sm", remote: true do %> 
                      <i class="fa fa-edit"></i>
        <% end %>     

        <%= link_to  answer, method: :delete, remote: true, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Resposta" do %><i class="fa fa-close"></i>
        <% end %>
        </label>


        <br>
   <% end %>
    <div class="modal fade"  class="modali" id="<%= strength.id%>new_strength_answers_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Criar nova resposta de Força</h4>
          </div>
          <div class="modal-body">
            <%# Render the new person form (passing modal => true to enable remote => true) %>
            <%= render 'strength_answers/form', modal: true, :locals => {:teste => strength.id} %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <hr>

