<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @strength.text %>
</p>

<p>
  <strong>Plano:</strong>
  <%= @strength.plano %>
</p>

<%= link_to 'Edit', edit_strength_path(@strength) %> |
<%= link_to 'Back', strengths_path %>
