
<div class="panel panel-default">
  
      <div class="panel-heading">
            <h4>Usuários Pendentes</h4>
    </div>
            <div class="panel-body">
             <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th><center>Foto</center></th>
                      <th><center>Nome</center></th>
                      <th><center> Tipo </center></th>
                      <th></th>
                    </tr>
                  </thead>
                    <tbody>
                     <%if @pendings.size >= 1 %>
                        <% @pendings.each do |pending| %>
                          <tr>

                           <td><center><%= image_tag pending.avatar.url(:thumb), class: "photos_users", width:40, height:40  %></center></td>
                           <td> <center><%= pending.nome %></center></td>
                           <td> <center><%= pending.type %></center></td>
                           <td style="width: 100px">
                              <%= link_to  admin_aprove_path(pending: pending), class:"btn btn-success btn-sm btn-login", data: { confirm: 'Deseja Aceitar ?'} do %>
                                  <i class="fa fa-check"></i>
                              <% end %>
                              <%= link_to  pending, method: :delete, class:"btn btn-danger btn-sm btn-login", data: { confirm: 'Deseja realmente excluir?' } do %>
                                  <i class="fa fa-minus"></i>
                                <% end %>

                           </td>
                        </tr>
                        <% end %>
                    <% end %>
                      </tbody>
                  </table>
              </div>
              </div>
    </div>
