<p id="notice"><%= notice %></p>

<h1>Listing Matriculations</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Tipo</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matriculations.each do |matriculation| %>
      <tr>
        <td><%= matriculation.nome %></td>
        <td><%= matriculation.email %></td>
        <td><%= matriculation.telefone %></td>
        <td><%= matriculation.tipo %></td>
        <td><%= matriculation.event %></td>
        <td><%= link_to 'Show', matriculation %></td>
        <td><%= link_to 'Edit', edit_matriculation_path(matriculation) %></td>
        <td><%= link_to 'Destroy', matriculation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matriculation', new_matriculation_path %>
