<p id="notice"><%= notice %></p>
  <div class="panel panel-default">
    <div class="panel-heading">
        <center><h4>Centros</h4></center>
    </div>
    <div class="panel-body">
                      <div>
                          <div class="unseen">
                            <div class="dados">
                          <table class="table table-bordered table-striped table-condensed">
                            <thead>
                              <tr>
                                <th>Nome</th>
                                <th>Campus</th>
                                <th colspan="1"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% if @centers.size > 0 %>
                              <% @centers.each do |center| %>
                                <tr>
                                  <td><%= center.name %></td>
                                  <td><%= center.campu.name %> </td>
<!--                                   <td><center><%= button_to 'Abrir', center, :class => "btn btn-primary btn-login btn-sm", method: :get%></center></td>
                                   -->                                  <% if current_user.type == 'Administrator'%>
                                  <td><%= link_to 'Editar', edit_center_path(center), class: "btn btn-primary btn-login btn-sm" %></td>
<!--                                   <td><%= link_to 'Deletar', center, method: :delete, class: "btn btn-primary btn-login btn-sm", data: { confirm: 'Are you sure?' } %></td>
                                   -->                                  
                                   <% end %>
                                </tr>
                              <% end %>
                              <% end %>
                            </tbody>
                          </table>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>
