<tr>
    <td><%= result.user.nome %></td>
    <td><%= result.data_final %></td>
    <td><%= result.tf %></td>
    <td><%= result.gm %></td>
    <td><%= result.au %></td>
    <td><%= result.se %></td>
    <td><%= result.ec %></td>
    <td><%= result.sv %></td>
    <td><%= result.ch %></td>
    <td><%= result.ls %></td>
    <td>
    <% result.anchors.each do |anchor|%>
    <%= anchor.nome %>
    <% end %>
    </td>
</tr>