<p id="notice"><%= notice %></p>

<p>
  <strong>Data final:</strong>
  <%= @result.data_final %>
</p>

<p>
  <strong>Tf:</strong>
  <%= @result.tf %>
</p>

<p>
  <strong>Gm:</strong>
  <%= @result.gm %>
</p>

<p>
  <strong>Au:</strong>
  <%= @result.au %>
</p>

<p>
  <strong>Se:</strong>
  <%= @result.se %>
</p>

<p>
  <strong>Ec:</strong>
  <%= @result.ec %>
</p>

<p>
  <strong>Sv:</strong>
  <%= @result.sv %>
</p>

<p>
  <strong>Ch:</strong>
  <%= @result.ch %>
</p>

<p>
  <strong>Ls:</strong>
  <%= @result.ls %>
</p>

<p>
  <strong>Student:</strong>
  <%= @result.user.nome %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @result.quiz %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
