<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href=https://daneden.github.io/animate.css/animate.min.css">

<div class="background"></div>
<div class="navegacao">
  <div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item">Eventos</li>
    <li class="breadcrumb-item"><a href="javascript:;"><b><%= @event.nome %></b></a></li>
  </ol>
</nav>
  </div>
</div>

<%= javascript_include_tag "add_obs.js"%>
<div class="panel panel-default">

<div class="panel-heading">
   <h4><%= @event.nome %> <a href="javascript:history.back()"><h4><span class="badge badge-warning"><i class="fas fa-arrow-left"></i> Voltar</span></h4></a></h4>
</div>
<div class="panel-body">
  <div class="row mt">
    <div class="col-lg-12">
    <div class="pull-right">
        <%= link_to "Gerar PDF", pdf_event_events_path(format: 'pdf', event: @event), class: "btn btn-login btn-sm" %>
        <%= link_to "Gerar Lista de Inscritos", enrolled_list_events_path(format: 'pdf', event: @event), class: "btn btn-login btn-sm" %>
        <%= link_to "Gerar Lista de Presença", attendance_list_events_path(format: 'pdf', event: @event), class: "btn btn-login btn-sm" %>
        <%= link_to 'Editar', edit_event_path(@event), class: "btn btn-login btn-sm" %>
  </div>
          <p><center><%= image_tag @event.image.url(:medium) %></center></p>
      <p>
        <strong>Apresentacao:</strong>
        <%= simple_format(@event.apresentacao) %>
      </p>

      <p>
        <strong>Objetivos:</strong>
        <%= simple_format(@event.objetivos) %>
      </p>

      <p>
        <strong>Informações:</strong>
        <%= simple_format(@event.informacoes) %>
      </p>


      <p>
        <strong>Inicio:</strong>
        <%= @event.inicio.strftime("%-d/%-m/%y às %H:%M") %>
      </p>

      <p>
        <strong>Fim:</strong>
        <%= @event.fim.strftime("%-d/%-m/%y às %H:%M") %>
      </p>

      <% unless @event.date_achievement.nil? %>
        <p>
          <strong>Datas de realização:</strong>
          <%= @event.date_achievement %>
        </p>
        <p>
      <% end %>

      <p>
        <strong>Submissao:</strong>
        <%= @event.submissao %>
      </p>
      <p>
        <strong>Criado por:</strong>
        <%= @event.user.nome %>
      </p>

      <div>
        <div class="note_div">
            <h2>Adicionar atividade</h2>
            <%= render 'activities/form'%>
        </div>
      </div>
        <a href="#" class="add_button">Adicionar Atividade</a>
      <div class="row mt">
      <div class="col-lg-12">
        <center><h4>Atividades registradas</h4></center>

          <section id="unseen">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Data</th>
                <th>Nome</th>
                <th>Palestrante</th>
                <th>Evento</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody id= "activities">
              <%= render @activities%>
            </tbody>
          </table>
          </section>
          </div>
          </div>

      <div class="row mt">
      <div class="col-lg-12">
      <center><h4>Trabalhos submetidos</h4></center>
      <section id="unseen">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Email</th>
            <th>Resumo</th>
            <th>Tags</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Evento</th>
            <th>Arquivo</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.titulo %></td>
              <td><%= project.autor %></td>
              <td><%= project.email %></td>
              <td><%= project.resumo %></td>
              <td><%= project.tags %></td>
              <td><%= project.tipo %></td>
              <td><%= project.estado %></td>
              <td><%= project.event.nome %></td>
              <td><%= link_to "Arquivo", project.file.url(:original, false) %></td>
              <td><%= link_to 'Fazer Observação', project %></td>
              <td><%= link_to 'Aprovar', approve_project_events_path(project: project) %></td>
              <td><%= link_to 'Deletar', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </section>
      </div>
      </div>


      <div class="row mt">
      <div class="col-lg-12">
      <center><h4>Usuarios inscritos no evento</h4></center>
      <section id="unseen">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Tipo</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @matriculations.each do |registration| %>
            <tr>
              <td><%= registration.nome %></td>
              <td><%= registration.email %></td>
              <td><%= registration.telefone %></td>
              <td><%= registration.tipo %></td>
              <td><%= link_to 'Deletar', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </section>
      </div>
      </div>
</div>
</div>
</div>
</div>
      <br>
