<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(AnswerCase.new, remote: false, html: {role: :form, 'data-model' => 'modal'}) do |f| %>

<%# form_for(@answer_case) do |f| %>

  <div class="field">
    <%= f.label :resposta, class: 'control-label' %><br>
    <%= f.text_area :resposta , class: 'form-control', rows:4 %><br>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => locals[:user_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :question_id, :value => locals[:question_id] %>
  </div>
  <div class="actions">
    <center><%= f.submit'Criar Resposta', class: "btn btn-default" %></center>
  </div>
<% end %>
