<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Email</th>
      <th>Resumo</th>
      <th>Tags</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th>Evento</th>
      <th>Arquivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.titulo %></td>
        <td><%= project.autor %></td>
        <td><%= project.email %></td>
        <td><%= project.resumo %></td>
        <td><%= project.tags %></td>
        <td><%= project.tipo %></td>
        <td><%= project.estado %></td>
        <td><%= project.event.nome %></td>
        <td><%= link_to "Arquivo", project.file.url(:original, false) %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
