 <% @experiences.each do |experience| %>
<div class="resume-item d-flex flex-column flex-md-row mb-5">
  <div class="resume-content mr-auto" >
    <p><b> Instituição: </b><%= experience.institution %> · <b>Cargo/Função:</b> <%= experience.office %> · 
   	<b>Período: </b><%= experience.date_start.strftime("%d/%m/%Y")  %> - 	<%= experience.date_end.strftime("%d/%m/%Y")  %>
<br>
	<b>Resumo:</b><%=experience.description %>
   </p>
  </div>
  <div class="resume-content">
	<%= link_to 'Deletar', experience, method: :delete,class: "btn btn-default btn-sm btn-login",style: "float:right;", remote: true, data: { confirm: 'Você tem certeza?' }%>
	<div style="float: right;">
	  &nbsp;
	</div>
	<%= link_to 'Editar', edit_experience_path(experience.id), class: "btn btn-default btn-sm btn-login", style: "float: right;",remote:true   %> 
  </div>
</div>
 <% end %>

