<tr>
    <td><%= learning_result.user.nome %></td>
    <td><%= learning_result.data_final %></td>
    <td><%= learning_result.user.institution.nome%></td>
    <td><%= learning_result.user.course.center.campu.name%></td>
    <td><%= learning_result.user.course.center.name%></td>
    <td><%= learning_result.user.course.nome%></td>
    <td><%= learning_result.ec.round(2) %></td>
    <td><%= learning_result.or.round(2)%></td>
    <td><%= learning_result.ca.round(2)%></td>
    <td><%= learning_result.ea.round(2) %></td>
    <td style="display:none;"><%= learning_result.q1a %></td>
    <td style="display:none;"><%= learning_result.q1b %></td>
    <td style="display:none;"><%= learning_result.q1c %></td>
    <td style="display:none;"><%= learning_result.q1d %></td>
    <td style="display:none;"><%= learning_result.q2a %></td>
    <td style="display:none;"><%= learning_result.q2b %></td>
    <td style="display:none;"><%= learning_result.q2c %></td>
    <td style="display:none;"><%= learning_result.q2d %></td>
    <td style="display:none;"><%= learning_result.q3a %></td>
    <td style="display:none;"><%= learning_result.q3b %></td>
    <td style="display:none;"><%= learning_result.q3c %></td>
    <td style="display:none;"><%= learning_result.q3d %></td>
    <td style="display:none;"><%= learning_result.q4a %></td>
    <td style="display:none;"><%= learning_result.q4b %></td>
    <td style="display:none;"><%= learning_result.q4c %></td>
    <td style="display:none;"><%= learning_result.q4d %></td>
    <td style="display:none;"><%= learning_result.q5a %></td>
    <td style="display:none;"><%= learning_result.q5b %></td>
    <td style="display:none;"><%= learning_result.q5c %></td>
    <td style="display:none;"><%= learning_result.q5d %></td>
    <td style="display:none;"><%= learning_result.q6a %></td>
    <td style="display:none;"><%= learning_result.q6b %></td>
    <td style="display:none;"><%= learning_result.q6c %></td>
    <td style="display:none;"><%= learning_result.q6d %></td>
    <td style="display:none;"><%= learning_result.q7a %></td>
    <td style="display:none;"><%= learning_result.q7b %></td>
    <td style="display:none;"><%= learning_result.q7c %></td>
    <td style="display:none;"><%= learning_result.q7d %></td>
    <td style="display:none;"><%= learning_result.q8a %></td>
    <td style="display:none;"><%= learning_result.q8b %></td>
    <td style="display:none;"><%= learning_result.q8c %></td>
    <td style="display:none;"><%= learning_result.q8d %></td>
    <td style="display:none;"><%= learning_result.q9a %></td>
    <td style="display:none;"><%= learning_result.q9b %></td>
    <td style="display:none;"><%= learning_result.q9c %></td>
    <td style="display:none;"><%= learning_result.q9d %></td>
    <td style="display:none;"><%= learning_result.q10a %></td>
    <td style="display:none;"><%= learning_result.q10b %></td>
    <td style="display:none;"><%= learning_result.q10c %></td>
    <td style="display:none;"><%= learning_result.q10d %></td>
    <td style="display:none;"><%= learning_result.q11a %></td>
    <td style="display:none;"><%= learning_result.q11b %></td>
    <td style="display:none;"><%= learning_result.q11c %></td>
    <td style="display:none;"><%= learning_result.q11d %></td>
    <td style="display:none;"><%= learning_result.q12a %></td>
    <td style="display:none;"><%= learning_result.q12b %></td>
    <td style="display:none;"><%= learning_result.q12c %></td>
    <td style="display:none;"><%= learning_result.q12d %></td>
</tr>
