<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href=https://daneden.github.io/animate.css/animate.min.css">

<div class="background"></div>
<div class="navegacao">
  <div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item">Estilos de Aprendizagem</li>
    <li class="breadcrumb-item"><a href="javascript:;"><b>Comparar Estilos de Aprendizagem</b></a></li>
  </ol>
</nav>
  </div>
</div>

<%= javascript_include_tag 'search_learning' %>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Comparar Estilos de Aprendizagem
    <a href="javascript:history.back()"><h4><span class="badge badge-warning"><i class="fas fa-arrow-left"></i> Voltar</span></h4></a></h4>
  </div>
          <div class="panel-body">  
          <div class="row">       
           <div class="col-lg-6">
        <%= form_tag({ :controller => "learning_results", :action => "analytic_list"}, { :id => "form2"}) do |f| %>
        <div class="field">
                  <h4>Seleção 1:</h4>
                  <%= hidden_field_tag :institution_id, @institution.id %>

                  <%= hidden_field_tag :campu_id, @campu.id %>

                  <%= hidden_field_tag :center_id, @center.id %>

                  <%= hidden_field_tag :course_id, @course.id %>

                  <div class="row">
                    <div class="form-group col-md-4">
                        <%= label_tag :Disciplina %>
                        <%= collection_select(nil, :subject_id, @subjects, :id, :nome,{}, {class: "form-control"})%>
                    </div>
                  <div class="form-group col-md-4">
                    <%= label_tag :ano %>
                    <%= select_tag "ano", options_for_select(@anos), :class => "form-control"%>
                    </div>
                  <div class="form-group col-md-4">
                    <%= label_tag :semestre %>
                    <%= select_tag "semestre", options_for_select(@semestres), :class => "form-control"%>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                    <%= label_tag :Turma %>
                    <%= collection_select(nil, :classroom_id, @classrooms, :id, :codigo,{}, {class: "form-control"})%>
                    </div>
                    <div class="form-group col-md-6">
                    <%= label_tag :Usuarios %>
                    <%= collection_select(nil, :users_id, @students, :id, :nome,{}, {class: "form-control"})%>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="col-lg-6">
                <h4>Seleção 2:</h4>
                <div class="field">
                  <%= hidden_field_tag :institution2_id, @institution.id %>

                  <%= hidden_field_tag :campu2_id, @campu.id %>

                  <%= hidden_field_tag :center2_id, @center.id %>

                  <%= hidden_field_tag :course2_id, @course.id %>

                  <div class="row">
                    <div class="form-group col-md-4">
                        <%= label_tag :Disciplina %>
                        <%= collection_select(nil, :subject2_id, @subjects, :id, :nome,{}, {class: "form-control"})%>
                    </div>
                    <div class="form-group col-md-4">
                      <%= label_tag :ano %>
                      <%= select_tag "ano2", options_for_select(@anos), :class => "form-control"%>
                      </div>
                    <div class="form-group col-md-4">
                      <%= label_tag :semestre %>
                      <%= select_tag "semestre2", options_for_select(@semestres), :class => "form-control"%>
                      </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                    <%= label_tag :Turma %>
                    <%= collection_select(nil, :classroom2_id, @classrooms, :id, :codigo,{}, {class: "form-control"})%>
                    </div>
                    <div class="form-group col-md-6">
                      <%= label_tag :Usuarios %>
                      <%= collection_select(nil, :users2_id, @students, :id, :nome,{}, {class: "form-control"})%>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                  <%= submit_tag "Comparar" %>
                </div>
              </div>

    <% end %>

    </div>
    </div>
    </div>

      <script>
    var nome_usuario = "<%= current_user.nome.downcase.titleize %>";
    var novo_nome = nome_usuario.split(" ");

    $(document).ready(function() {
        document.title = 'Comparar Estilos de Aprendizagem - ' + novo_nome[0] + " " + novo_nome[novo_nome.length-1] + " - SAAD";
    });

  </script>