//$('#media').html('<%= escape_javascript render (@learning_results) %>');
function tabelasHtml(Ec,Or,Ca,Ea,Ac,Di,Co,As) { 
  var html = '<table class="table table-bordered table-striped table-condensed">';

   html+=  '<thead>';
   html+= '<tr>';
   html+= '<th><center>Experiência Concreta</center></th>';
   html+= '<th><center>Observação Reflexiva</center></th>';
   html+='<th><center>Conceituação Abstrata</center></th>';
    html+= '<th><center>Experimentação Ativa</center></th>';
    html+= '</tr>';
    html+= '</thead>';
    html+=  '<tbody>';
    html+= '<tr>';
    html+= '<td><center>'+ Ec+' </center></td>';
    html+= '<td><center>'+Or+ '</center></td>';
    html+= '<td><center>'+ Ca+ '</center></td>';
    html+= '<td><center>'+ Ea+ '</center</td>';
    html+= '</tr>';
    html+= '<tr>';
    html+= '<th><center>Acomodador</center></th>';
    html+= '<th><center>Divergente</center></th>';
    html+= '<th><center>Convergente</center></th>';
    html+= '<th><center>Assimilador</center></th>';
    html+= '</tr>';
    html+= '<tr>';
    html+= '<td><center>'+ Ac +'</center></td>';
    html+= '<td><center>'+ Di +'</center></td>';
    html+='<td><center>'+Co+' </center></td>';
    html+= '<td><center>'+As+ '</center</td>';
    html+= '</tr>';
    html+= '</tbody>';

    html+= '</table>';
    return html;

}
$('#media').html( tabelasHtml(<%= @mediaEc.round(2) %>,<%= @mediaOr.round(2) %>,<%= @mediaCa.round(2) %>,<%= @mediaEa.round(2) %>,<%= @mediaAc.round(2) %>,<%= @mediaDi.round(2) %>,<%= @mediaCo.round(2) %>,<%= @mediaAs.round(2) %>));

$('#media2').html( tabelasHtml(<%= @mediaEc2.round(2) %>,<%= @mediaOr2.round(2) %>,<%= @mediaCa2.round(2) %>,<%= @mediaEa2.round(2) %>,<%= @mediaAc2.round(2) %>,<%= @mediaDi2.round(2) %>,<%= @mediaCo2.round(2) %>,<%= @mediaAs2.round(2) %>));


//alterei isso aqui e utilizei html com javaScript
//$('#media2').html('<%= escape_javascript render (@learning_results2) %>');


var categories = ['Experiência Concreta', 'Observação Reflexiva', 'Conceituação Abstrata', 'Experimentação Ativa'],
    count = 0;

$('#graphic').highcharts({

            chart: {
            polar: true
        },

        title: {
            text: 'Habilidades'
        },

        pane: {
            startAngle: 0
        },


        xAxis: {
            tickInterval: 1,
            min: 0,
            max: 4,
            tickmarkPlacement: 'on',
            categories: categories,
        },


        yAxis: {
            min: 0,
            max: 46,
            labels: {
                enabled: false
             }
        },

        plotOptions: {
            series: {
                pointStart: 0,
                pointInterval: 1,
                 pointPlacement: 'on'
            },
            column: {
                pointPadding: 0,
                groupPadding: 0,
            }
        },

        series: [{
            type: 'area',
            name: 'Seleção 1',
            data: [<%= @mediaEc %>, <%= @mediaOr %>,  <%= @mediaCa%>,  <%= @mediaEa %>],

        }, {
            type: 'line',
            name: 'Seleção 2',
            color: '#000000',
            data: [<%= @mediaEc2 %>, <%= @mediaOr2 %>,  <%= @mediaCa2%>,  <%= @mediaEa2 %>],

        }]

});


var categories = ['Divergente', 'Assimilador', 'Convergente', 'Acomodador'],
    count = 0;

$('#graphic2').highcharts({

            chart: {
            polar: true
        },

        title: {
            text: 'Estilos de Aprendizagem'
        },

        pane: {
            startAngle: 45
        },

        xAxis: {
            tickInterval: 1,
            min: 0,
            max: 4,
            tickmarkPlacement: 'on',
            categories: categories,
        },

        yAxis: {
            min: 0,
            labels: {
                enabled: false
             }

        },

        plotOptions: {
            series: {
                pointStart: 0,
                pointInterval: 1,
                pointPlacement: 'on'
            },
            column: {
                pointPadding: 0,
                groupPadding: 0
            }
        },



        series: [{
            type: 'area',
            name: 'Seleção 1',
            data: [<%= @mediaDi %>, <%= @mediaAs %>,  <%= @mediaCo%>,  <%= @mediaAc %>],

        }, {
            type: 'line',
            name: 'Seleção 2',
            color: '#000000',
            data: [<%= @mediaDi2 %>, <%= @mediaAs2 %>,  <%= @mediaCo2%>,  <%= @mediaAc2 %>],

        }]
});