<p id="notice"><%= notice %></p>

<h1>Listing Learning Results</h1>

<table>
  <thead>
    <tr>
      <th>Ec</th>
      <th>Or</th>
      <th>Ca</th>
      <th>Ea</th>
      <th>User</th>
      <th>Data final</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @learning_results.each do |learning_result| %>
      <tr>
        <td><%= learning_result.ec %></td>
        <td><%= learning_result.or %></td>
        <td><%= learning_result.ca %></td>
        <td><%= learning_result.ea %></td>
        <td><%= learning_result.user.nome %></td>
        <td><%= learning_result.data_final %></td>
        <td><%= link_to 'Show', learning_result %></td>
        <td><%= link_to 'Edit', edit_learning_result_path(learning_result) %></td>
        <td><%= link_to 'Destroy', learning_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learning result', new_learning_result_path %>
