  <div class="panel panel-default">
    <div class="panel-heading">
        <center><h4><%= action %></h4></center>
    </div>
  <div class="panel-body">
    <div class="col-lg-12">
      <%= form_for(@subject) do |f| %>
        <% if @subject.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

            <ul>
            <% @subject.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row-mt"> 
          <div class="form-group"> 
            <div class="col-lg-6">
                  <%= f.label :nome %>
                  <%= f.text_field :nome, class: "form-control" %>
             </div>
          </div>
            <div class="form-group"> 
              <div class="col-lg-1">
                  <%= f.label :ch %><br>
                  <%= f.number_field :ch , class: "form-control" %>
              </div>
            </div>
            <div class="form-group"> 
                <div class="col-lg-2">
                  <div class="field">
                    <%= f.label :codigo %>
                    <%= f.text_field :codigo, class: "form-control" %>
                  </div>
                </div>
            </div>
            <div class="form-group"> 
              <div class="col-lg-3">
               <%if current_user.type == 'Administrator'%>
                  <div class="field">
                    <%= f.label :course %><br>
                    <%= autocomplete_field_tag :course, params[:course], autocomplete_course_nome_courses_path, :id_element => '#subject_course_id', class: "form-control" %>
                  </div>
                  <div class="field">
                    <%= f.hidden_field :course_id %>
                  </div>
                  <%elsif current_user.type == 'Principal' %>
                    <div class="field">
                    <%= f.label :curso%>
                    <%= f.collection_select(:course_id, @courses, :id, :nome)%>
                    </div>
                  <% elsif current_user.type == 'Coordinator'%>
                    <%= f.hidden_field :course_id, :value => current_user.course.id%>
                  <% end %>
               </div>
            </div>
            <div class="form-group"> 
              <div class="col-lg-12">
                <%= f.label :ementa %><br>
                <%= f.text_area :ementa , rows: 3 , class: "form-control"%>
<br>
                <center><%= f.submit funcao, :class => "btn btn-success btn-login btn-sm"  %></center>
              </div>
            </div>

        </div>
      <% end %>

    </div>
  </div>
</div>


