<%= javascript_include_tag 'search_learning_admin' %>
<div class="row mt">
    <div class="col-lg-12">
      <div class="content-panel">
<%= form_for(@line_case) do |f| %>
<div class="field">

    <%= hidden_field_tag :institution_id, @institution.id %>

    <div class="campo_compare">
    <%= label_tag :Campus %>
    <%= collection_select(nil, :campu_id, @campus, :id, :name)%>
    </div>
    <div class="campo_compare">
    <%= label_tag :Centro %>
    <%= collection_select(nil, :center_id, @centers, :id, :name)%>
    </div>
    <div class="campo_compare">
    <%= label_tag :Curso %>
    <%= collection_select(nil, :course_id, @courses, :id, :nome)%>
    </div>
    <div class="campo_compare">
    <%= label_tag :Disciplina %>
    <%= collection_select(nil, :subject_id, @subjects, :id, :nome)%>
    </div>
    <div class="campo_compare">
    <%= label_tag :Turma %>
    <%= collection_select(nil, :classroom_id, @classrooms, :id, :codigo)%>
    </div>
    <div class="campo_compare">
    <%= label_tag :Usuarios %>
    <%= collection_select(nil, :users_id, @students, :id, :nome)%>
    </div>

    <div class="field">
        <%= f.label :study_case_id %><br>
        <%= f.text_field :study_case_id, :value => @study_case.id %>
    </div>

  <div class="field">
        <%= f.label :data_final %><br>
        <%= f.date_select :data_final %>
  </div>

  </div>

<div class="row mt">
                <div class="col-lg-12">
                    <br><center><%= submit_tag "Enviar", :class => "btn btn-primary btn-lg"  %></center>
                </div>
            </div>
   <% end %>
</div>
</div>
</div>