<%= javascript_include_tag "result_socio_emotionals" %>

<% if current_user.type == 'Teacher' || current_user.type == 'Coordinator'%>
    <%= render :partial => 'question_socio_emotionals/teacher_search' %>
<% elsif current_user.type == 'Principal' %>
    <%= render :partial => 'question_socio_emotionals/principal_search' %>
<% elsif current_user.type == 'Administrator'%>
<%= form_for(@question_socio_emotional) do |f| %>
  <% if @question_socio_emotional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_socio_emotional.errors.count, "error") %> prohibited this question_socio_emotional from being saved:</h2>
      <ul>
      <% @question_socio_emotional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2><center>Solicitar resposta às âncoras de carreira</center></h2>
      <div class="col-lg-6">
            <h3>Selecione a data final para preenchimento</h3>
              <div class="campo_compare">
                <%= f.date_select :data_final%>
              </div>
        </div>
          </div> 
          </div>
        </div>
        <div class="row mt">
          <div class="col-lg-12">
              <div class="actions">
              <center><%= f.submit "Criar questionário", :class => "btn btn-primary btn-lg"%></center>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
 <% end %>

