<%= javascript_include_tag 'search_learning' %>
<div class="container">
<%= form_for(@question_socio_emotional) do |f| %>
  <% if @question_socio_emotional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_socio_emotional.errors.count, "error") %> prohibited this question_socio_emotional from being saved:</h2>
      <ul>
      <% @question_socio_emotional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
<div class="panel-heading">
<h2><center>Solicitar resposta às competências socioemocionais</center></h2>
  </div>
<div class="container">
  <div class="row mt">
          <div class="col-lg-6">
          
            <h3>Selecione o(s) aluno(s)</h3> 

                <%= hidden_field_tag :institution_id, @institution.id %>

                <%= hidden_field_tag :campu_id, @campu.id %>

                <%= hidden_field_tag :center_id, @center.id %>

                <%= hidden_field_tag :course_id, @course.id %>
                    
                <div class="campo_compare">
                <%= label_tag :Disciplina %>
                <%= collection_select(nil, :subject_id, @subjects, :id, :nome ,{}, {class: "form-control"})%>
                </div>
       
                <div class="campo_compare">
                <%= label_tag :Turma %>
                <%= collection_select(nil, :classroom_id, @classrooms, :id, :codigo ,{}, {class: "form-control"})%>
                </div>
                
                <div class="campo_compare">
                <%= label_tag :Usuarios %>
                <%= collection_select(nil, :users_id, @students, :id, :nome ,{}, {class: "form-control"})%>
                </div>
            <br>
          </div>
          <div class="col-lg-6">
            <h3>Selecione a data final para preenchimento</h3>
              <div class="campo_compare">
                <%= f.date_select :data_final %>
              </div>
            </div>
           </div>
          </div>

          <div class="row mt">
            <div class="col-lg-12">
             <div class="actions">
             <center><%= f.submit "Criar questionário", :class => "btn btn-login"%></center>
          </div>
        <% end %>
          </div>
        </div>
      </div>
    </div>
  </div> 