<p id="notice"><%= notice %></p>

<h1>Listing Question Socio Emotionals</h1>

<table>
  <thead>
    <tr>
      <th>Data final</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_socio_emotionals.each do |question_socio_emotional| %>
      <tr>
        <td><%= question_socio_emotional.data_final %></td>
        <td><%= question_socio_emotional.creator_id %></td>
        <td><%= link_to 'Show', question_socio_emotional %></td>
        <td><%= link_to 'Edit', edit_question_socio_emotional_path(question_socio_emotional) %></td>
        <td><%= link_to 'Destroy', question_socio_emotional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question socio emotional', new_question_socio_emotional_path %>
