  <div class="panel panel-default">
    <div class="panel-heading">
        <center><h4><%= action %></h4></center>
    </div>
  <div class="panel-body">
    <div class="col-lg-12">
      <%= form_for(@course) do |f| %>
          <% if @course.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

              <ul>
              <% @course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row mt">
            <div class="col-lg-3">
                <div class="field">
                  <%= f.label :nome %><br>
                  <%= f.text_field :nome, class: "form-control" %>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="field">
                  <%= f.label :data_de_abertura %><br>
                  <%= f.date_select :data_abertura %>
                </div>
            </div>
              <div class="col-lg-3">
                  <div class="field">
                    <%= f.label :turno %><br>
                    <%= f.text_field :turno, class: "form-control" %>
                  </div>
              </div>
              <div class="col-lg-3">
                <%if current_user.type == 'Administrator'%>
                <%= label_tag :center %><br>
                  <%= autocomplete_field_tag :center, params[:center], autocomplete_center_name_centers_path, :id_element => '#course_center_id', class: "form-control" %>
                </div>

                <div class="field">
                  <%= f.hidden_field :center_id %>
                </div>
                <%elsif current_user.type == 'Principal' %>
                  <div class="field">
                  <%= f.collection_select(:center_id, @centers, :id, :name) %>
                  </div>
                <% end %>
        </div>
        <div class="row mt">
        <div class="actions">
          <center><%= f.submit funcao, :class => "btn btn-success btn-login btn-sm"  %></center>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


