<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @reference.text %>
</p>

<p>
  <strong>Study case:</strong>
  <%= @reference.study_case %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
