<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @opportunity.text %>
</p>

<p>
  <strong>Plano:</strong>
  <%= @opportunity.plano %>
</p>

<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
