<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href=https://daneden.github.io/animate.css/animate.min.css">

<div class="background"></div>

<div class="navegacao">
  <div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item">Competências Socioemocionais</li>
    <li class="breadcrumb-item"><a href="javascript:;"><b>Comparar Competências socioemocionais</b></a></li>
  </ol>
</nav>
  </div>
</div>

<%= javascript_include_tag "SocioEmotionalcreatePdf"%>
<%= javascript_include_tag "createCsv"%>
    <div class="container">

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Comparar Competências socioemocionais
    <a href="javascript:history.back()"><h4><span class="badge badge-warning"><i class="fas fa-arrow-left"></i> Voltar</span></h4></a></h4>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-body">
            <div class="alert alert-primary" role="alert">Selecione os parâmetros abaixo para comparar</div>
              <div class="row mt">
                  <div class="col-lg-6">
                      <div class="form-group">
 
                        <h5>Primeiro parâmetro:</h5>
                        <%= form_tag(compare_by_date_result_socio_emotionals_path, method: 'post', :remote => true) do %>
                        <%= hidden_field_tag "selecao", @selecao %>

                        <%= select_tag(:data_final, options_for_select(@datas),:class => "form-control") %>
                        <% @result_socio_emotionals.map(&:id).each do |id| %>
                        <%= hidden_field_tag "result_socio_emotionals[]", id %>
                        <% end %>
                        <%= hidden_field_tag "allUsers", @allUsers %>

                    </div>

                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <h5>Segundo parâmetro:</h5>
                        <%= hidden_field_tag "selecao2", @selecao2 %>
                        <%= select_tag(:data_final2, options_for_select(@datas2),:class => "form-control") %>
                        <% @result_socio_emotionals2.map(&:id).each do |id| %>
                        <%= hidden_field_tag "result_socio_emotionals2[]", id %>
                        <% end %>
                      <%= hidden_field_tag "allUsers2", @allUsers2 %>                    
                    </div>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-md-12">
                      <%= submit_tag "Comparar" %>
                        <% end %>

                      </center>
                  </div>
              </div>
                  <div class="row">
                      <div class="col-lg-6">
                        <section id="unseen"><br>
                            <table id="tabela_resultados" class="table table-bordered table-striped table-condensed">
                              <thead>
                                <tr>
                                  <th>Competência</th>
                                  <th>Pontuação</th>
                                  <th>Nivel</th>
                                </tr>
                              </thead>
                              <tbody  id="media">
                              </tbody>
                          </table>
                      </section>
                    </div>
                    <div class="col-lg-6">
                          <section id="unseen"><br>
                            <table id="tabela_resultados2" class="table table-bordered table-striped table-condensed">
                              <thead>
                                <tr>
                                  <th>Competência</th>
                                  <th>Pontuação</th>
                                  <th>Nivel</th>
                                </tr>
                            </thead>
                            <tbody  id="media2">
                            </tbody>
                          </table>
                          </section>
                    </div>
              </div>
              <div id="graphic"></div>
        </div>
    </div>
  </div>
</div>
