<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href=https://daneden.github.io/animate.css/animate.min.css">

<div class="background"></div>

<div class="navegacao">
  <div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item">Casos Para Ensino</li>
    <li class="breadcrumb-item"><a href="javascript:;"><b>Casos de Ensino</b></a></li>
  </ol>
</nav>
  </div>
</div>

<div class="container">

 <div class="panel panel-default">
  <div class="panel-heading">
    <h4>Casos de Ensino
    <a href="javascript:history.back()"><h4><span class="badge badge-warning"><i class="fas fa-arrow-left"></i> Voltar</span></h4></a></h4>
  </div>

    <div class="row">
      <div class="col-lg-12">
            <div class="panel-body">

          <h4><i class="fa fa-file-o" style="color:#11B70B;"></i> Casos Em Aberto</h4>
          <section id="unseen">
            <table class="table table-bordered table-striped table-condensed">
      <thead>
          <tr>
            <th>Titulo</th>
            <th>Tema Principal</th>
            <th>Caso</th>
            <th  style="width: 80px;">Prazo</th>
            <th>Respostas Dos Alunos</th>
            <th>Descrição</th>
          </tr>
        </thead>
 <tbody>
    <% @line_cases.each do |line_case| %>
      <tr>
        <td><%= line_case.study_case.title %></td>
        <td><%= line_case.study_case.topic %></td>
        <td><%= link_to  line_case.study_case.case_file.url(:original, false),class:"btn btn-default btn-sm" do %>
                <% if line_case.study_case.case_file_content_type == "application/pdf" %>
                  <i class="fa fa-file-pdf-o" style="color:#BD1E0F;"></i>
                <% else %>
                  <i class="fa fa-file-word-o" style="color:#08336E;"></i>

                <% end %>
            <% end %>
          </td>
        <td><%= line_case.data_final.strftime("%d/%m/%Y") %></td>
        <% if line_case.responder.nil? || line_case.responder == "true" %>
          <td><%= link_to "Ver resposta", teachers_area_case_alunos_path(:line_case => line_case.id) ,class:"btn btn-default btn-sm"%></td>
        <% else %>
          <td><center><b>---</b></center></td>
        <% end %>
        <td><%= link_to  line_case, class:"btn btn-default btn-sm" do %>
          <i class="fa fa-share-square" style="color:#0040ff;"></i>
          <% end %>

        </td>
<!--           <td><%= link_to 'Edit', edit_line_case_path(line_case) %></td>
                       <td><%= link_to 'Destroy', line_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               -->              
      </tr>


    <% end %>
  </tbody>      </table>

      </section>

      </div>
      </div>
      </div>

      <br>