<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href=https://daneden.github.io/animate.css/animate.min.css">

<div class="background"></div>

<div class="navegacao">
  <div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item">Carreira</li>
    <li class="breadcrumb-item"><a href="/coordinators_area/search_plans">Buscar Plano de Carreira</a></li>
    <li class="breadcrumb-item"><a href="javascript:;"><b>Resultado</b></a></li>
  </ol>
</nav>
  </div>
</div>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Lista de Alunos
    <a href="javascript:history.back()"><h4><span class="badge badge-warning"><i class="fas fa-arrow-left"></i> Voltar</span></h4></a></h4>
  </div>
      <div class="row">
          <div class="col-lg-12">
            <div class="panel-body">
                          <div class="unseen">
                            <div class="dados">
                          <table class="table table-bordered table-striped table-condensed">
                            <thead>
                              <tr>
                                <th>Foto</th>
                                <th>Nome</th>
                                <th>Matricula</th>
                                <th>Email</th>
                                <th>Plano</th>
                              </tr>
                            </thead>

                            <tbody>
                              <% @students.each do |student| %>
                                <tr>
                                  <td><center><%= image_tag student.avatar.url(:thumb), class: "photos_users", width:40, height:40   %></center></td>
                                  <td><%= student.nome %></td>
                                  <td><%= student.matricula %></td>
                                  <td><%= student.email %></td>
                                  <td>
                                  <% if student.plano != nil && student.plano.publico == true%>
                                    <center><%= button_to 'Visualizar', teachers_area_show_plan_path(:plano => student.plano), :class => "btn btn-default "%></center>
                                  <% else %>
                                    <h6>Não finalizado</h6>
                                  <% end %>
                                  </td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>