<p id="notice"><%= notice %></p>

<h1>Listing Strategies</h1>

<table>
  <thead>
    <tr>
      <th>Deadline</th>
      <th>Text</th>
      <th>Objective</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strategies.each do |strategy| %>
      <tr>
        <td><%= strategy.deadline %></td>
        <td><%= strategy.text %></td>
        <td><%= strategy.objective %></td>
        <td><%= link_to 'Show', strategy %></td>
        <td><%= link_to 'Edit', edit_strategy_path(strategy) %></td>
        <td><%= link_to 'Destroy', strategy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Strategy', new_strategy_path %>
