<tr>
<td><%= activity.data.strftime("%d/%m/%y %H:%M") %></td>
<td><%= activity.nome %></td>
<td><%= activity.palestrante %></td>
<td><%= activity.event.nome %></td>
<td><%= link_to 'Deletar', activity, method: :delete, class:"btn btn-login btn-sm", remote: true, data: { confirm: 'Are you sure?' }%></td>
</tr>