<tr>
    <td><%= result_socio_emotional.user.nome %></td>
    <td><%= result_socio_emotional.data_final %></td>
    <td><%= result_socio_emotional.cons_emoc %></td>
    <td><%= result_socio_emotional.reg_emoc %></td>
    <td><%= result_socio_emotional.cons_soc %></td>
    <td><%= result_socio_emotional.aut_emoc %></td>
    <td><%= result_socio_emotional.cria_emoc %></td>
 </tr> 