<%= javascript_include_tag 'search_learning' %>

<%= form_tag({ :controller => "result_socio_emotionals", :action => "list"}, { :id => "form2"}) do |f| %>
  
    <%= hidden_field_tag :institution_id, @institution.id %>

    <%= hidden_field_tag :campu_id, @campu.id %>

    <%= hidden_field_tag :center_id, @center.id %>

    <%= hidden_field_tag :course_id, @course.id %>

                <div class="row">
                    <div class="col-md-4">
                    <%= label_tag :Disciplina %>
                    <%= collection_select(nil, :subject_id, @subjects, :id, :nome ,{}, {class: "form-control"})%>
                    </div>
                    
                    <div class="col-md-4">
                    <%= label_tag :ano %>
                    <%= select_tag "ano", options_for_select(@anos),:class => "form-control"%>
                    </div>
                    
                    <div class="col-md-4">
                    <%= label_tag :semestre %>
                    <%= select_tag "semestre", options_for_select(@semestres),:class => "form-control"%>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                    <%= label_tag :Turma %>
                    <%= collection_select(nil, :classroom_id, @classrooms, :id, :codigo ,{}, {class: "form-control"})%>
                    </div>
                    
                    <div class="col-md-6">
                    <%= label_tag :Usuarios %>
                    <%= collection_select(nil, :users_id, @students, :id, :nome ,{}, {class: "form-control"})%>
                    </div>
                </div>

<div class="row">
                <div class="col-lg-12">
                    <br><center><%= submit_tag "Buscar" %>
                    </center>
                </div>
            </div>
   <% end %>
</div>
</div> 
</div>