<%= form_for(@respostum) do |f| %>
  <% if @respostum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@respostum.errors.count, "error") %> prohibited this respostum from being saved:</h2>

      <ul>
      <% @respostum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :observacao %><br>
    <%= f.text_area :observacao %>
  </div>
  <div class="field">
    <%= f.label :atividade_extra_id %><br>
    <%= f.text_field :atividade_extra_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
