      <!--sidebar start-->
      <aside>
          <div id="sidebar">
              <!-- sidebar menu start-->
                <div class="block">
                <p class="centered"><%= image_tag current_user.avatar.url(:thumb), class: "img-circle" %></p>
                <h5 class="centered"><%=current_user.nome%></h5>
                  <div>
                    <input type="radio" name="item" id="item-one" checked hidden />
                    <label for="item-one">
                      <i class="fa fa-home"></i>
                      <%= link_to 'Home', admin_index_path %>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-two" hidden />
                    <label for="item-two">
                      <i class="fa fa-puzzle-piece"></i>
                      Carreira
                    </label>
                    <div>
                        <%= link_to 'Buscar planos', coordinators_area_search_plans_path%>
                        <%= link_to 'Buscar âncoras', search_results_path, method: :post %>
                        <%= link_to 'Comparar âncoras ', analytics_results_path, method: :post %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-three" hidden />
                    <label for="item-three">
                      <i class="fa fa-sliders"></i>
                      Estilos de aprendizagem
                    </label>
                    <div>
                      <%= link_to 'Buscar resultados', search_learning_results_path, method: :post %>
                      <%= link_to 'Comparar resultados', analytics_learning_results_path, method: :post %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-four" hidden />
                    <label for="item-four">
                    <i class="fa fa-calendar-check-o"></i>
                      Eventos
                    </label>
                    <div>
                      <%= link_to 'Novo evento', new_event_path %>
                      <%= link_to 'Meus eventos', coordinators_area_my_events_path %>
                      <%= link_to 'Eventos terminados', coordinators_area_finished_events_path %>
                    </div>
                  </div>
                  <div>
                  <div>
                    <input type="radio" name="item" id="item-five" hidden />
                    <label for="item-five">
                    <i class="fa fa-book"></i>
                        Casos para Ensino
                    </label>
                    <div>
                      <%= link_to 'Adicionar Tema Principal', main_themes_path   %>
                    </div>
                    <div>
                      <%= link_to 'Adicionar Área Do Conhecimento', knowledges_path  %>
                    </div>

                  </div>

                  <div>
                    <input type="radio" name="item" id="item-six" hidden />
                    <label for="item-six">
                    <i class=" fa fa-youtube-play"></i>
                      Videos
                    </label>
                    <div>
                       <%= link_to 'Videos Enviados', coordinators_area_videos_index_path %>
                       <%= link_to 'Enviar video', coordinators_area_send_video_path %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-seven" hidden />
                    <label for="item-seven">
                    <i class="fa fa-mortar-board"></i>
                      Gerenciar Disciplinas
                      </label>
                    <div>
                      <%= link_to 'Disciplinas', subjects_path %>
                      <%= link_to 'Turmas', classrooms_path %>
                      <%= link_to "Buscar turma", search_classrooms_path %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-eight" hidden />
                    <label for="item-eight">
                    <i class=" fa fa-user"></i>
                    Perfil
                    </label>
                    <div>
                      <%= link_to "Editar", edit_user_registration_path %>
                    </div>
                  </div>
                </div>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->