       <!--sidebar start-->
      <aside>
          <div id="sidebar">
              <!-- sidebar menu start-->
                <div class="block">
                <p class="centered"><%= image_tag current_user.avatar.url(:thumb), class: "img-circle" %></p>
                <h5 class="centered"><%=current_user.nome%></h5>
                  <div>
                    <input type="radio" name="item" id="item-one" checked hidden />
                    <label for="item-one">
                      <i class="fa fa-home"></i>
                      <%= link_to 'Home', admin_index_path %>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-two" hidden />
                    <label for="item-two">
                      <i class="fa fa-puzzle-piece"></i>
                      Carreira
                    </label>
                    <div>
                      <%= link_to 'Planos de Carreira', principals_area_search_plans_path%>
                      <%= link_to 'Buscar Âncoras', search_results_path, method: :post %>
                      <%= link_to 'Comparar âncoras ', analytics_results_path, method: :post %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-three" hidden />
                    <label for="item-three">
                      <i class="fa fa-sliders"></i>
                      Estilos de aprendizagem
                    </label>
                    <div>
                      <%= link_to 'Estilos de aprendizagem', search_learning_results_path, method: :post %>
                      <%= link_to 'Comparar resultados', analytics_learning_results_path, method: :post %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-four" hidden />
                    <label for="item-four">
                    <i class="fa fa-calendar-check-o"></i>
                      Eventos
                    </label>
                    <div>
                      <%= link_to 'Novo evento', new_event_path %>
                      <%= link_to 'Meus eventos', principals_area_my_events_path %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-six" hidden />
                    <label for="item-six">
                    <i class="fa fa-university"></i>
                        Gerenciar Instituições
                    </label>
                    <div>
                      <%= link_to 'Instituição', current_user.institution%>
                      <%= link_to 'Campus', campus_path %>
                      <%= link_to 'Centros', centers_path %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-seven" hidden />
                    <label for="item-seven">
                    <i class="fa fa-mortar-board"></i>
                        Gerenciar Cursos
                    </label>
                    <div>
                      <%= link_to 'Cursos', courses_path %>
                      <%= link_to 'Disciplinas', subjects_path %>
                      <%= link_to 'Turmas', classrooms_path %>
                      <%= link_to "Buscar turma", search_classrooms_path %>
                    </div>
                  </div>
                  <div>
                    <input type="radio" name="item" id="item-eight" hidden />
                    <label for="item-eight">
                    <i class=" fa fa-user"></i>
                    Perfil
                    </label>
                    <div>
                      <%= link_to "Editar", edit_user_registration_path %>
                    </div>
                  </div>
                </div>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->