<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'style', 'style-responsive','bootstrap', 'font-awesome' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <b><a class="logo" href="http://sistema.saad.net.br/curriculums/all_curriculums"><img src="/assets/saad_2.png" width="100px"></a></b>

        </header>
              <section class="wrapper">

              <div class="row">
                  <div class="col-lg-12 main-chart">
                        <%= yield %>
                  </div>
              </div>
              </section>

    <%= javascript_include_tag 'bootstrap'%>

</body>

