<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,700i');
  @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
  @import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
  *,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

 body {
  background-color: #294fa5!important;
  overflow-x: hidden;
}

.listra {
  background-color: #222;
  position: fixed;
  width: 200%;
  height: 50%;
  transform: rotate(-5deg);
  bottom: -20px;
  margin-left: -50px;
  z-index: -1;
}

.login-header {
  text-align: center;
  margin-top: 30px;
}

.login-header h1 {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.login-header p {
  color: #6f95ec;
  font-size: 14px;
}

#login-box {
    margin-top: 100px;
}

.form-new_user {
  background-color: white;
  width: 100%;
  padding: 40px 40px;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  margin-top: 50px;
  margin-bottom: 100px;
}

 form .title {
  text-align: center;
}

 form .title img {
  margin-bottom: 20px;
}

 form .title h1 {
  font-size: 21px;
  font-weight: bold;
}

 form .title p {
  color: #AAA;
  font-size: 12px;
}

 form label {
  font-size: 11px;
  color: #AAA;
}

 form a {
  font-size: 11px;
  font-weight: bold;
}

form input, .form-control {
  background: white!important;
  width: calc(100% - 40px);
  border: 2px solid #AAA;
  border-radius: 40px;
  padding: 3px 20px!important;
  font-size: 12px;
  outline: none;
  transition: all 0.2s;
  margin-right: 10px;
  margin-bottom: 10px;
}

input {
  background: white!important;
}

select.form-control {
  background: white!important;
  width: calc(100% - 40px);
  border: 2px solid #AAA;
  border-radius: 40px;
  padding: 0px 20px!important;
  margin-bottom: 15px;
  font-size: 12px;
  outline: none;
  transition: all 0.2s;
  height: 33px!important;
}

 form input:focus {
  border-color: #294fa5!important;
  color: #294fa5!important;
  box-shadow: none!important;
}

 form #buttons {
  margin-top: 10px;
}

 form #entrar, input[type="submit"] {
  background-color: #294fa5!important;
  padding: 10px 20px!important;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 40px;
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
}

 form #registrar {
  background-color: #6f95ec;
  width: calc(50% - 40px);
  padding: 10px 20px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 40px;
  text-align: center;
}
 form input.login:focus {
  border-color: #294fa5;
  color: #294fa5;
}
form label {
    font-size: 11px;
    font-weight: normal!important;
    color: #AAA;
}

.voltar {
  padding: 10px 15px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #294fa5;
  font-size: 14px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
}


@media only screen and (max-width: 950px){
  .login-header h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .login-header p {
    font-size: 11px;
    margin-bottom: 30px;
  }
  #new_user {
    max-width: 70%!important;
  }
  .form-new_user {
    max-width: 70%!important;
  }

  #login-box {
    padding: 0 30px;
  }

}
</style>


  <a href="/users/sign_in"><div class="voltar"><i class="fas fa-arrow-left"></i></div></a>
  <div class="container_12">
    <div id="login-page">
      <div id="login-box">
        <div class="login-header">
        <h1>Bem-vindo(a) ao SAAD</h1>
        <p>Faça o seu login para acessar as ferramentas do SAAD</p>
      </div>
        
        <%= render 'layouts/messages' %>
    <!--<form class="form-login" action="index.html"> -->
        <%= javascript_include_tag "registrations" %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-new_user"}) do |f| %>       
               
                <div class="row">
                    <div class="col-md">
                        <%= f.label :nome %>
                        <%= f.text_field :nome, :class => "form-control", :placeholder=>"Digite seu nome completo" %>
                    </div>                   
                    <div class="col-md">
                        <label>CPF</label>
                        <%= f.text_field :cpf, :class => "form-control", :placeholder=>"000.000.000-00" %>
                    </div>                    
                </div>    

                <div class="row">

                    <div class="form-group col-md-3">
                        <%= f.label :telefone %>
                        <%= f.text_field :telefone, :class => "form-control", :placeholder=>"(00) 00000-0000" %>
                    </div>               
                    <div class="col-md-5">
                        <label>Data de nascimento</label>                  
                        <div class="form-inline">
                           <%= f.date_select :bday, {order: [:day,:month,:year],start_year: Date.today.year, end_year: Date.today.year - 100}, {required: true, class: 'form-control'}%>
                        </div>
                    </div> 
                    <div class="form-group col-md">
                        <%= f.label :Sexo %>
                        <select name="user[sex]" id="user_sex" class="form-control">
                        <option value="">Selecione</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Outros">Outros</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-md-2">
                        <%= f.label :Estado_Civil %>
                        <select name="user[marital_status]" id="user_marital_status" class="form-control">
                        <option value="">Selecione</option>
                        <option value="Solteiro">Solteiro</option>
                        <option value="Casado">Casado</option>
                        <option value="Separado">Separado</option>
                        <option value="Divorciado">Divorciado</option>
                        <option value="Viúvo">Viúvo</option>
                      </select>
                    </div>                   
              
                    <div class=" col-md-5">
                        <%= f.label :endereço %>
                        <%= f.text_field :endereco, :class => "form-control", :placeholder=>"Insira seu endereço" %>
                    </div>    

                    <div class=" col-md">
                        <%= f.label :cidade %>
                        <%= f.text_field :city, :class => "form-control", :placeholder=>"Cidade" %>
                    </div>          

                    <div class=" col-md">
                        <%= f.label :Estado %>
                        <select name="user[state]" id="user_state" class="form-control">
                        <option value="">UF</option>
                        <option value="AC">AC</option> 
                        <option value="AL">AL</option> 
                        <option value="AM">AM</option> 
                        <option value="AP">AP</option> 
                        <option value="BA">BA</option> 
                        <option value="CE">CE</option> 
                        <option value="DF">DF</option> 
                        <option value="ES">ES</option> 
                        <option value="GO">GO</option> 
                        <option value="MA">MA</option> 
                        <option value="MT">MT</option> 
                        <option value="MS">MS</option> 
                        <option value="MG">MG</option> 
                        <option value="PA">PA</option> 
                        <option value="PB">PB</option> 
                        <option value="PR">PR</option> 
                        <option value="PE">PE</option> 
                        <option value="PI">PI</option> 
                        <option value="RJ">RJ</option> 
                        <option value="RN">RN</option> 
                        <option value="RO">RO</option> 
                        <option value="RS">RS</option> 
                        <option value="RR">RR</option> 
                        <option value="SC">SC</option> 
                        <option value="SE">SE</option> 
                        <option value="SP">SP</option> 
                        <option value="TO">TO</option> 
                      </select>
                    </div>   
                </div>               

                <div class="row">
                    <div class=" col-md">
                      <%= f.label :tipo_de_usuario %>
                      <select name="user[type]" id="user_type" class="form-control">
                        <option value="Student">Estudante</option>
                        <option value="Teacher">Professor</option>
                      </select>
                    </div>
               
                    <div class="form-group col-md">
                        <%= f.label :matricula %>
                        <%= f.text_field :matricula, :class => "form-control", :placeholder=>"Insira seu número de matricula" %>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md">
                       <%= f.label :instituição %>
                       <%= f.collection_select :institution_id, Institution.order(:nome), :id, :nome, {include_blank: true, :required => true},{:class=>'form-control'}%>
                    </div>
                    <div class="col-md">
                       <%= f.label :campus %>
                       <%= grouped_collection_select(nil, :campu_id, Institution.order(:nome), :campus, :nome, :id, :name,{},{:class=>'form-control'})%>
                    </div>

                    <div class="col-md ">
                       <%= f.label :centro %>
                       <%= grouped_collection_select(nil, :center_id, Campu.order(:name), :centers, :name, :id, :name,{},{:class=>'form-control'} )%>
                    </div>   
                    <div class="col-md">
                       <%= f.label :curso %>
                       <%= f.grouped_collection_select :course_id, Center.order(:name), :courses, :name, :id, :nome,{},{:class=>'form-control'} %>
                    </div>
                </div>

                <div class="row">  
                    <div class="form-group col-md">
                          <%= f.label :email %>
                          <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder=>"user@example.com" %>
                    </div>
          
                    <div class="form-group col-md">
                          <%= f.label :foto_de_perfil %>
                          <%= f.file_field :avatar, :class => "form-control" %>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md">
                      <%= f.label :senha %>
                      <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder=>"Digite uma senha" %>
                    </div>
                    <div class="form-group col-md">
                      <%= f.label :confirmação_senha %>
                      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder=>"Digite sua senha novamente" %>
                    </div>
                </div>
          <center>
          <div class="field">
          <input type="submit" value="Cadastrar">
          <br>
          <br>
          </div>
         </center>
</div>
<br>
<br>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
              </div>
              <div class="modal-body">
                <p>Enter your e-mail address below to reset your password.</p>
                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-theme" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
    <% end %>
    <!--</form>-->
      </div>
  </div>
</div>
<div class="listra"></div>
<script src="https://rawgit.com/RobinHerbots/Inputmask/4.x/dist/jquery.inputmask.bundle.js"></script>
<script>
  var telefone = $("#user_telefone");

  telefone.inputmask("(99) 99999-9999");
  $("#user_cpf").inputmask("999.999.999-99");
</script>